#box1{
  color:black;
  width:300px;
  height:300px;
  border: 10px dotted orange;
  outline: 5px dashed green;
  outline-offset: 10px;
  overflow:hidden;
  min-height: 50px;
  max-height:500px;
  text-decoration:line-through;
  text-transform: uppercase;
}
#box2{
  color:rgb(63, 42, 165);
  width:300px;
  height:200px;
  border:10px solid red;
  outline: 5px dotted blueviolet;
  outline-offset: 10px;
  overflow:scroll;
  min-height: 100px;
  max-height: 300px;
  max-width: 500px;
  text-decoration:underline;
  text-align:justify;
 
}

p{
  text-align:center;
}

*{
  margin: 0;
  padding:0;
}